name: Docker CI
on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths-ignore:
      - '.gitignore'
      - '**.md'
  schedule:
    - cron:  '15 2 * * *'
env:
  CURRENT_CHANNEL: 24.04
  PREVIOUS_CHANNEL: 22.04
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Login to Docker Hub
    - uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USER }}
        password: ${{ secrets.DOCKER_TOKEN }}
    - name: Build 22.04
      run: |
        docker build . --pull --build-arg OS_VERSION=${{env.PREVIOUS_CHANNEL}} --tag bshp/ocie:${{env.PREVIOUS_CHANNEL}} --no-cache
    - name: Push 22.04
      run: |
        docker push bshp/ocie:${{env.PREVIOUS_CHANNEL}}
    - name: Build 24.04
      run: |
        docker build . --pull --build-arg OS_VERSION=${{env.CURRENT_CHANNEL}} --tag bshp/ocie:${{env.CURRENT_CHANNEL}} --no-cache
    - name: Push 24.04
      run: |
        docker tag bshp/ocie:${{env.CURRENT_CHANNEL}} bshp/ocie:latest
        docker push bshp/ocie:latest
        docker push bshp/ocie:${{env.CURRENT_CHANNEL}}
    - name: Dispatch Events
      run: |
        inheritees="apache2,ezproxy,itsm,mantis,unifi";
        for inheritee in ${inheritees//,/ };do 
            echo "Sending event to [ bshp/${inheritee} ]";
            curl -L -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: ${{secrets.WF_TOKEN}}" \
            -H "X-OAuth-Scopes: repo, workflow" \
            https://api.github.com/repos/bshp/${inheritee}/actions/workflows/build.yml/dispatches \
            -d '{"ref":"main"}'
        done;
